:root {
	--color-main-background: #FFFFFF;
	--color-main-background-rgb: 255, 255, 255;
	--color-main-background-translucent: rgba(var(--color-main-background-rgb), .97);
	--color-main-background-blur: rgba(var(--color-main-background-rgb), .8);
	--filter-background-blur: blur(25px);
	--gradient-main-background: var(--color-main-background) 0%, var(--color-main-background-translucent) 85%, transparent 100%;
	--color-background-hover: #F5F5F5;
	--color-background-dark: #EDEDED;
	--color-background-darker: #DBDBDB;
	--color-placeholder-light: #E6E6E6;
	--color-placeholder-dark: #CCCCCC;
	--color-main-text: #222222;
	--color-text-maxcontrast: #767676;
	--color-text-maxcontrast-default: #767676;
	--color-text-maxcontrast-background-blur: #646464;
	--color-text-light: #222222;
	--color-text-lighter: #767676;
	--color-scrollbar: rgba(34, 34, 34, .15);
	--color-error: #E9322D;
	--color-error-rgb: 233, 50, 45;
	--color-error-hover: #ED5A56;
	--color-warning: #ECA700;
	--color-warning-rgb: 236, 167, 0;
	--color-warning-hover: #EFB832;
	--color-success: #46BA61;
	--color-success-rgb: 70, 186, 97;
	--color-success-hover: #6AC780;
	--color-loading-light: #CCCCCC;
	--color-loading-dark: #444444;
	--color-box-shadow-rgb: 77, 77, 77;
	--color-box-shadow: rgba(var(--color-box-shadow-rgb), 0.5);
	--color-border: #EDEDED;
	--color-border-dark: #DBDBDB;
	--color-border-maxcontrast: #949494;
	--font-face: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Cantarell, Ubuntu, 'Helvetica Neue', Arial, sans-serif, 'Noto Color Emoji', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	--default-font-size: 15px;
	--animation-quick: 100ms;
	--animation-slow: 300ms;
	--border-radius: 3px;
	--border-radius-large: 10px;
	--border-radius-pill: 100px;
	--default-clickable-area: 44px;
	--default-line-height: 24px;
	--default-grid-baseline: 4px;
	--header-height: 50px;
	--navigation-width: 300px;
	--sidebar-min-width: 300px;
	--sidebar-max-width: 500px;
	--list-min-width: 200px;
	--list-max-width: 300px;
	--header-menu-item-height: 44px;
	--header-menu-profile-item-height: 66px;
	--breakpoint-mobile: 1024px;
	--background-invert-if-dark: no;
	--background-invert-if-bright: invert(100%);
	--background-image-invert-if-bright: no;
	--primary-invert-if-bright: no;
	--color-primary: #006AA3;
	--color-primary-default: #0082C9;
	--color-primary-text: #FFFFFF;
	--color-primary-hover: #3287B5;
	--color-primary-light: #E5F0F5;
	--color-primary-light-text: #002A41;
	--color-primary-light-hover: #DBE5EA;
	--color-primary-text-dark: #EDEDED;
	--color-primary-element: #006AA3;
	--color-primary-element-default-hover: #329BD3;
	--color-primary-element-text: #FFFFFF;
	--color-primary-element-hover: #3287B5;
	--color-primary-element-light: #E5F0F5;
	--color-primary-element-light-text: #002A41;
	--color-primary-element-light-hover: #DBE5EA;
	--color-primary-element-text-dark: #EDEDED;
	--gradient-primary-background: linear-gradient(40deg, var(--color-primary) 0%, var(--color-primary-hover) 100%);
	--image-background-default: url('../img/app-background.jpg');
	--color-background-plain: #0082C9;
}
