# SPDX-FileCopyrightText: 2026 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

# We need "root" for github:nextcloud-deps/vscode-windows-registry
# Current @electron-forge/* 7 uses old @electron/rebuild@7 which requires node
# Allowing git only for a specific package is not supported
# electron/node-gyp#06b29aafb7708acef8b3669835c8a7857ebc92d2 added to package.json explicitly to be in the root
allow-git=root
