# SPDX-FileCopyrightText: 2026 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: AGPL-3.0-or-later

# We need "root" for github:nextcloud-deps/vscode-windows-registry
allow-git=root
