/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/*
 * Overrides default Nextcloud styles
 */

:root,
body {
	/* It is IMPORTANT to set "px" here, not just "0" */
	--body-container-margin: 0px !important;
}

.content {
	/* TODO: upstream using --header-height on NcContent margin-top */
	margin-top: var(--header-height) !important;
	border-radius: 0 !important;
}

/* Remove Nextcloud header specific focus-visible style */
#header {
	.button-vue,
	[role=button] {
		&:focus-visible::after {
			content: none !important;
		}
	}
}
