/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

* {
	/*
		It's safe to reset box-sizing for all the page.
		In Nextcloud (at least 26) box-sizing is set to border-box to the entire <NcContent> (#content-vue .content).
		Nextcloud Talk Desktop has only <NcContent> and its own components.
	*/
	box-sizing: border-box;
}

:focus-visible {
	outline-color: var(--color-main-text);
}

#header {
	/*
		Adjusting of text and icons appearing on Nextcloud header to contrast with.
		Nextcloud (28-29) server has a workaround with '--background-image-color-text' variable.
		Starting from Nextcloud 30 server has '--color-background-plain-text' variable.
	*/
	--color-header-contrast: var(--color-background-plain-text, var(--background-image-color-text, #ffffff))
}

html, body {
	background: none !important;
}

.app-navigation {
	background: none !important;
	backdrop-filter: none !important;
}

.list-item {
	&:hover,
	&:focus-within,
	&:has(:focus-visible),
	&:has(:active) {
		background-color: rgb(from var(--color-background-hover) r g b / 0.75) !important;
	}
}

:root {
	--color-primary-element-macos: rgb(from var(--color-primary-element) r g b / 0.75);
	--color-primary-element-hover-macos: rgb(from var(--color-primary-element-hover) r g b / 0.75);
	--color-main-background-macos: rgb(from var(--color-main-background) r g b / 0.4);

}

.list-item__wrapper--active,
.list-item__wrapper.active {
	.list-item {
		background-color: var(--color-primary-element-macos) !important;

		&:hover {
			background-color: var(--color-primary-element-hover-macos) !important;
		}
	}
}

.app-navigation {
	.input-field__input {
		background-color: var(--color-main-background-macos) !important;
	}

	.button-vue:is(:hover, :focus, :active) {
		background-color: var(--color-main-background-macos) !important;
	}
}
