/**
 * SPDX-FileCopyrightText: 2023 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

* {
	/*
		It's safe to reset box-sizing for all the page.
		In Nextcloud (at least 26) box-sizing is set to border-box to the entire <NcContent> (#content-vue .content).
		Nextcloud Talk Desktop has only <NcContent> and its own components.
	*/
	box-sizing: border-box;
}

:focus-visible {
	outline-color: var(--color-main-text);
}

#header {
	/*
		Adjusting of text and icons appearing on Nextcloud header to contrast with.
		Nextcloud (28-29) server has a workaround with '--background-image-color-text' variable.
		Starting from Nextcloud 30 server has '--color-background-plain-text' variable.
	*/
	--color-header-contrast: var(--color-background-plain-text, var(--background-image-color-text, #ffffff))
}
