/*!
 * SPDX-FileCopyrightText: 2024 Nextcloud GmbH and Nextcloud contributors
 * SPDX-License-Identifier: AGPL-3.0-or-later
 */

/* Server core and default styles */
@import '@global-styles/core/css/server.css';
@import '@global-styles/apps/theming/css/default.css';

/* Root theme styles for system theme */
@import '@global-styles/apps/theming/theme/light.plain.css' (prefers-color-scheme: light);
@import '@global-styles/apps/theming/theme/dark.plain.css' (prefers-color-scheme: dark);

/* Theme styles for explicit set themes */
@import '@global-styles/apps/theming/theme/light.css';
@import '@global-styles/apps/theming/theme/dark.css';
