# SPDX-FileCopyrightText: 2025 Nextcloud GmbH and Nextcloud contributors
# SPDX-License-Identifier: CC0-1.0

name: Update Built-in Talk

permissions:
  contents: write
  pull-requests: write

on:
  workflow_dispatch:

jobs:
  update-built-in-talk:
    runs-on: ubuntu-latest-low

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Read package.json node and npm engines version
        uses: skjnldsv/read-package-engines-version-actions@06d6baf7d8f41934ab630e97d9e6c0bc9c9ac5e4 # v3
        id: versions
        with:
          fallbackNode: '^24'
          fallbackNpm: '^11.3'

      - name: Set up node ${{ steps.versions.outputs.nodeVersion }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ steps.versions.outputs.nodeVersion }}

      - name: Set up npm ${{ steps.versions.outputs.npmVersion }}
        run: npm i -g 'npm@${{ steps.versions.outputs.npmVersion }}'

      - name: Run update-built-in-talk.mjs
        id: update
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Execute the script and capture the output
          stdout=$(npx -y zx ./scripts/update-built-in-talk.mjs)
          # Pass the result to the next steps
          echo "stdout<<EOF" >> $GITHUB_OUTPUT
          echo "$stdout" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Print result
        run: echo "${{ steps.update.outputs.stdout }}"

      - name: Create Pull Request
        if: steps.update.outcome == 'success'
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          token: ${{ secrets.COMMAND_BOT_PAT }}
          commit-message: 'build: update built-in Talk version'
          committer: GitHub <noreply@github.com>
          author: nextcloud-command <nextcloud-command@users.noreply.github.com>
          signoff: true
          branch: 'build/update-built-in-talk-version'
          delete-branch: true
          title: 'build: update built-in Talk versions'
          body: |
            ## Update Built-in Talk Version

            ${{ steps.update.outputs.stdout }}
